.microsoft-form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.microsoft-form label,
.microsoft-form legend {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.microsoft-form legend {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.microsoft-form input[type='text'],
.microsoft-form input[type='password'],
.microsoft-form input[type='number'],
.microsoft-form input[type='email'],
.microsoft-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.microsoft-form button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 16px;
    background-color: #0078d7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.microsoft-form button:hover {
    background-color: #005a9e;
}

#register-err,
#edit-err {
    margin-bottom: 10px;
    color: #ef233c;
    text-align: center;
}

.microsoft-form-expanded {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.microsoft-form-expanded label,
.microsoft-form-expanded legend {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.microsoft-form-expanded legend {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.microsoft-form-expanded input[type='text'],
.microsoft-form-expanded input[type='password'],
.microsoft-form-expanded input[type='number'],
.microsoft-form-expanded input[type='email'],
.microsoft-form-expanded select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.microsoft-form-expanded button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 16px;
    background-color: #0078d7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.microsoft-form-expanded button:hover {
    background-color: #005a9e;
}

#register-err,
#edit-err {
    margin-bottom: 10px;
    color: #ef233c;
    text-align: center;
}
